
.content11 {

	
	font-size: clamp(1px, 15/1200 * 100vw, 15px);
}



.preschool {
	&__wrapper {
		padding-top:1em;
		// padding-left: 2em;
		// padding-right: 2em;
		// padding-top:16px;
		display: flex;
		flex-wrap: nowrap;
		column-width: 40% 60%;
		column-gap: 0.5em;
		// column-gap: 16px;
		justify-content: space-between;
		

	}

	&__image {
		width: 100%;
		border-radius: 0.66em;
	}

	&__ped {
		min-height: 5.5em;
	}


&__article {

	border-radius: 0.66em;
	border: 1px solid black;
	padding: 0.35em;
	background-color: #fff;

	display: flex;
	flex-direction: column;
	
	&-header {
		font-size: 1.2em;
		text-align: center;
		margin-bottom: 1.33em;
		padding-top: 1em;
	}
}
&__fio {
		// margin-bottom: 1em;
		font-size: 0.87em;
	}

&__address {
		margin-bottom: 1em;
		font-size: 0.85em;

		&-span {
			font-weight: bold;
		}
	}

&__name {
		// display: flex;
		// margin-bottom: 20px;
		min-height: 3.5em;
		// justify-content: left;
		
		
		&-span {
			font-size: 0.9em;
			font-weight: 300;
		}

		&-text {
			font-weight: bold;
			// padding-left: 0.66em;
		
		}
	}

&__description {
		font-size: 0.85em;
		
		margin-bottom: 1em;
		// height: auto;
	}

&__post {
	font-size: 0.85em;
}
	

&__cards {
	display: flex;
	flex-wrap: nowrap;
	
	column-gap: 1em;
		// column-gap: 16px;
	justify-content: stspace-between;
}



&__cards-1, &__cards-2 {
	display: flex;
	flex-wrap: nowrap;
	// flex-direction: column;
	column-gap: 0.35em;
	padding-left: 0.5em;
	padding-right: 0.5em;

	justify-content: space-between;
	
}

&__cards-1 {
	column-width: 50%;
}

&__cards-2 {
	column-width: 33.33%;
}

&__card {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: start;
	// border: 1px #565050 solid;
	border-radius: 0.6em;
	
	
}


}
