
.content-start {
	font-size: clamp(1px, 16/1300 * 100vw,  13.5px);
}

.return	{
	position: absolute;
	display: flex;
	flex-direction: column;

	top: 1em;
	right: 1em;
	height: 4em;
	width: 4em;
	transition-duration: var(--transition-duration);

	&__image {
		border-radius: 50%;
		background-color: #c6daf4;
		&:hover {
			background-color: #c3cdda;
		}

		&:active {
			background-color: #b8bfc7;
		}
	}
	&__span {
		text-align: center;
		text-transform: uppercase;
		font-size: 0.7em;
		padding-top: 0.2em;
	}

	
}


.start {
	&__wrapper {
		padding-top:1em;
		display: flex;
		flex-wrap: nowrap;
		column-width: 33.33%;
		column-gap: 1em;
		justify-content: space-between;
		padding-left: 2em;
		padding-right: 2em;
		
		@include mobile-s {
			flex-wrap: wrap;
			font-size: clamp(1px, 15/481 * 100vw,  15px);
			row-gap: 1em;
		}
	}

	&__image {
		width: 100%;
		border-radius: 0.66em;
	}
}

.article {
	border-radius: 0.66em;
	border: 1px solid black;
	padding: 0.66em;
	background-color: #fff;

	display: flex;
	flex-direction: column;
	
	&__header {
		font-size: 1.2em;
		text-align: center;
		margin-bottom: 1.33em;
		padding-top: 1em;
	}
	
	&__fio {
		margin-bottom: 1em;
		font-size: 1.05em;
	}

	&__address {
		margin-bottom: 1em;

		&-span {
			font-weight: bold;
		}
	}

	&__napravlenie {
		display: flex;
		min-height: 6.5em;
		justify-content: left;
		
		@include mobile-s {
			min-height: 1em;
			margin-bottom: 1em;
		}

		&-span {
			font-weight: bold;
		}

		&-text {
			padding-left: 0.66em;
		
		}
	}

	&__description {
		font-size: 0.95em;
		margin-bottom: 1em;

	}
}

